name: Deployment
on:
  push:
    branches:
      - master

env:
  GITHUB_TOKEN: ${{ secrets.PS_GITHUB_ACCESSTOKEN }}
  GITHUB_AXEL_NPM_TOKEN: ${{ secrets.PS_GITHUB_AXELSPRINGER_PACKAGEPUBLISH }}

jobs:
  checks:
    name: Formatting checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Set Node.js 16
        uses: actions/setup-node@v4
        with:
          node-version: "16"
          cache: "yarn"

      - name: Configure npm
        run: |
          npm config set //npm.pkg.github.com/:_authToken=$GITHUB_TOKEN

      - name: Install yarn
        run: yarn install --frozen-lockfile

      - name: yarn format-check
        run: yarn check --if-present

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Set Node.js 16
        uses: actions/setup-node@v4
        with:
          node-version: "16"
          cache: "yarn"

      - name: config npm
        run: |
          npm config set //npm.pkg.github.com/:_authToken=$GITHUB_TOKEN

      - name: Install yarn
        run: yarn install --frozen-lockfile

      - name: Test yarn
        run: yarn test

      - name: Patch version
        run: |
          git config --global user.name "Spring Media CD"
          git config --global user.email "ps-support-og@moveoffice.com"
          git remote add publisher "https://${GITHUB_ACTOR}:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git"
          yarn version --patch
          git push publisher HEAD:master

      - name: Build yarn
        run: yarn build

      - name: Publish package internal
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.PS_GITHUB_ACCESSTOKEN }}

      - name: Configure npm for axelspringer
        run: |
          npm config set //npm.pkg.github.com/:_authToken=$GITHUB_AXEL_NPM_TOKEN

      - name: Publish package to axelspringer
        run: |
          sed -i 's/@spring-media/@axelspringer/' package.json 
          npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.PS_GITHUB_AXELSPRINGER_PACKAGEPUBLISH }}
